---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { MobileHeader } from "../components/ui/Navigation/MobileHeader.tsx";
import HeroSectionBanner from "../components/ui/Banners/HeroSectionBanner.astro";
import { DesktopHeader } from "../components/ui/Navigation/DesktopHeader.tsx";
---

<Layout title="Početna">
  <main>
 <!--    <MobileHeader client:load />  -->
    <!-- Hero Section -->
    <section class="hero_section mt-2.5 md:mt-0">
      <HeroSectionBanner />
      <div
        class="bg_image h-full w-full bg-[url('/hero_section_image_lossless_01.webp')] bg-cover bg-center bg-no-repeat rounded-psc"
      >
        <div class="h-2"></div>
        <DesktopHeader client:load />
        <h1 class="text-[28px] md:text-[64px] text-center font-bold mt-32">
          Studio stvoren za sve
        </h1>
        <!-- Play button -->
        <div class="flex flex-col justify-center items-center mt-24">
          <button class="flex flex-col justify-center items-center gap-1">
            <svg
              class="w-[40px] h-[40px] md:w-[80px] md:h-[80px]"
              viewBox="0 0 80 80"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_b_563_251)">
                <path
                  d="M20.7813 68.75C19.822 68.7482 18.8796 68.4968 18.047 68.0203C16.172 66.9578 15.0063 64.8953 15.0063 62.6563V17.3438C15.0063 15.0985 16.172 13.0422 18.047 11.9797C18.8995 11.4898 19.8679 11.2378 20.8511 11.2502C21.8343 11.2626 22.7961 11.5388 23.636 12.05L62.3626 35.2313C63.1697 35.7374 63.835 36.4401 64.2962 37.2737C64.7574 38.1072 64.9994 39.0443 64.9994 39.9969C64.9994 40.9495 64.7574 41.8866 64.2962 42.7201C63.835 43.5537 63.1697 44.2564 62.3626 44.7625L23.6298 67.95C22.7702 68.4697 21.7857 68.7462 20.7813 68.75Z"
                  fill="white"
                  fill-opacity="0.6"></path>
                <path
                  d="M20.7838 71.25L20.7909 71.25C22.2459 71.2444 23.672 70.8445 24.9176 70.0928C24.9195 70.0917 24.9213 70.0906 24.9232 70.0894L63.6467 46.9075L63.6688 46.8943L63.6907 46.8806C64.8565 46.1496 65.8176 45.1345 66.4837 43.9304C67.1499 42.7264 67.4994 41.3729 67.4994 39.9969C67.4994 38.6209 67.1499 37.2674 66.4837 36.0634C65.8176 34.8593 64.8565 33.8442 63.6907 33.1132L63.6688 33.0995L63.6466 33.0862L24.9273 9.90928C23.7069 9.16855 22.3102 8.76835 20.8826 8.75039C19.4541 8.73242 18.047 9.0978 16.8079 9.8084C14.1139 11.3382 12.5063 14.2471 12.5063 17.3438V62.6563C12.5063 65.7459 14.1134 68.6624 16.8096 70.1927C18.018 70.883 19.385 71.2474 20.7767 71.25L20.7838 71.25Z"
                  stroke="#758E8A"
                  stroke-opacity="0.6"
                  stroke-width="5"></path>
              </g>
              <defs>
                <filter
                  id="filter0_b_563_251"
                  x="-24"
                  y="-24"
                  width="128"
                  height="128"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix"
                  ></feFlood>
                  <feGaussianBlur in="BackgroundImageFix" stdDeviation="12"
                  ></feGaussianBlur>
                  <feComposite
                    in2="SourceAlpha"
                    operator="in"
                    result="effect1_backgroundBlur_563_251"></feComposite>
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_backgroundBlur_563_251"
                    result="shape"></feBlend>
                </filter>
              </defs>
            </svg>
            <p class="text-[13px] md:text-[16px] text-white/75">Press play</p>
          </button>
        </div>
        <!-- Hero Section Footer -->
        <div class="hidden flex-col md:flex-row gap-2 z-1 justify-around">
          <div>
            <p
              class="text-[12px] md:text-[16px] font-medium px-4 py-3 md:px-6 md:py-4 rounded-[20px] bg-[#29231C]/60 backdrop-blur-lg"
            >
              više od 15 godina iskustva
            </p>
          </div>
          <div>
            <p
              class="text-[12px] md:text-[16px] font-medium px-4 py-3 md:px-6 md:py-4 rounded-[20px] bg-[#78543E]/60 backdrop-blur-lg"
            >
              više od 15 godina iskustva
            </p>
          </div>
          <div>
            <p
              class="text-[12px] md:text-[16px] font-medium px-4 py-3 md:px-6 md:py-4 rounded-[20px] bg-[#655A4F]/60 backdrop-blur-lg"
            >
              više od 15 godina iskustva
            </p>
          </div>
        </div>
        <!-- Overlay -->
        <!-- 	  <div class="absolute z-1 inset-0 bg-black bg-opacity-50 rounded-psc"></div> -->
      </div>
      <p
        class="flex md:hidden text-black gap-2 text-[12px] md:text-[14px] font-medium justify-center p-2"
      >
        Ova web stranica koristi kolačiće.
        <span class="text-black">Odbij</span>
        <span class="text-black underline underline-offset-2">Prihvati</span>
      </p>
    </section>

    <!-- Brands we worked with section -->
    <section class="brand_we_worked_with p-4 text-black">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque unde
      ad maxime quas veritatis nulla. Corrupti quia culpa inventore earum amet
      tenetur ea magni quas saepe consequuntur laudantium autem molestiae
      quidem, at obcaecati, eaque ullam nesciunt, nihil incidunt aut
      perferendis! Amet impedit dolor quasi accusamus maxime vel cumque dolore
      cupiditate, adipisci ipsum, consectetur repellat distinctio provident unde
      delectus dolorem a totam voluptatum ab quod praesentium tenetur sint quam.
      Adipisci consequatur illo mollitia dolorum deserunt fuga? Esse iusto ullam
      consequatur excepturi sed doloremque est et soluta minus, optio modi.
      Quidem dolorem tenetur reprehenderit vitae obcaecati. Molestias sequi
      accusamus in laudantium asperiores possimus aut voluptate esse aperiam
      nesciunt veritatis iste quisquam, doloribus illum id molestiae atque
      labore aliquam deserunt hic nemo? Impedit magni omnis accusantium. Optio
      architecto at similique veniam. Sit, autem temporibus! Ut ad, amet totam
      praesentium ratione nisi explicabo eius molestiae neque nihil illo ipsam
      perspiciatis odit rerum officiis. Possimus deserunt quas, aut ratione
      ipsum laborum numquam unde optio. Velit vero facilis amet exercitationem
      officiis earum iste obcaecati adipisci accusamus neque, minus mollitia
      commodi repellat, quaerat minima nesciunt sunt et ea voluptas totam.
      Asperiores ratione iusto nemo nostrum quo est amet earum labore officiis
      eaque, obcaecati deleniti laboriosam, aspernatur architecto consectetur.
      Saepe dignissimos praesentium ex eum sunt id consequatur, veniam eveniet
      inventore. Harum praesentium aspernatur vero accusantium officiis quaerat
      quod at, repudiandae quo officia explicabo nobis quidem ratione modi quasi
      tempora pariatur exercitationem! Tempora, ea saepe dolorum rem maiores
      odio deleniti sapiente, enim consequatur sint explicabo vero consequuntur
      est porro perferendis laudantium quidem, doloribus fuga ipsam corporis
      repellat. Sed ex voluptate iusto placeat delectus autem dolore, a quasi
      sit, sequi sint ratione cupiditate enim perspiciatis ab beatae incidunt
      ut. Laboriosam fuga numquam officia excepturi labore animi incidunt, at
      molestias ad ipsum nisi reprehenderit saepe optio facilis repellat
      adipisci maxime aut odio dolorem voluptates. Voluptate quidem distinctio
      assumenda facere consectetur est adipisci exercitationem, quae placeat
      cupiditate dolore. Mollitia animi in iure nesciunt necessitatibus possimus
      dolore enim vero expedita aliquam? Est asperiores quia laboriosam sapiente
      doloremque possimus totam quasi voluptatum dolorem magni sint officia
      facere impedit quod, ex quaerat, ea similique maiores cupiditate labore
      veniam. Facere officia deserunt maiores, inventore iste sapiente provident
      nostrum libero labore laborum quas, incidunt et perferendis corrupti animi
      est ab ipsum? Obcaecati, possimus officiis. Reiciendis reprehenderit minus
      iste eum! Libero ratione blanditiis rerum? Facere saepe quia aliquid vel
      dicta labore nostrum possimus aliquam doloribus tempora molestiae error
      accusamus provident nam nesciunt, ipsam illo, debitis sequi recusandae
      blanditiis illum omnis quidem magni quam! Ex, sunt eligendi. Atque quam
      minima expedita doloremque veritatis officiis repellendus nulla mollitia
      sint cupiditate, sed ratione quas eius ex nobis, nam veniam ipsum repellat
      iusto vitae excepturi rerum, sequi nemo tempore! Quae consequatur nisi
      nobis dolores asperiores modi? Culpa, maxime reprehenderit provident
      dolorem fuga necessitatibus iure quisquam natus eaque delectus expedita
      excepturi incidunt sequi harum, sint amet deserunt! Vero tempore pariatur
      amet unde laudantium explicabo? Temporibus, quas cum accusantium,
      necessitatibus fugiat magni et est dolorem qui molestias, repudiandae
      doloribus voluptates culpa adipisci nemo esse voluptatibus cupiditate
      blanditiis omnis maxime! Debitis veritatis amet impedit, enim, error
      consectetur molestias a provident eum doloribus quo quidem sequi obcaecati
      velit? Ipsum accusantium nesciunt esse doloremque dolorem consequuntur
      odio, non at voluptatum voluptatem natus atque veritatis voluptas pariatur
      temporibus harum, nobis similique beatae fugit. Autem laudantium id,
      numquam vero facere omnis doloribus asperiores eius, perferendis veniam
      animi. Officiis illo, quis dolorum assumenda quas odit autem quae
      asperiores harum sequi pariatur, omnis, impedit voluptates excepturi
      officia sunt in vel error dolores. Vitae aperiam exercitationem delectus
      facere optio facilis rerum nam molestiae, perferendis nulla magni ullam
      laborum quisquam explicabo, libero repudiandae. Repellendus aut laborum
      provident dolorum! Ad eaque corporis eligendi fugit sed error, explicabo
      quis cum. Odio sequi nulla rerum sapiente reiciendis, tempore porro modi
      deleniti ut! Quam illum exercitationem, quis itaque quidem, voluptatibus
      quod consequuntur consectetur, quo aut sunt fugit accusamus quae
      dignissimos tempore? Illum sit blanditiis animi aperiam soluta enim
      doloremque quas autem recusandae repellat, similique dolore minus
      voluptate beatae cum ut atque architecto aspernatur sapiente culpa omnis
      eligendi inventore expedita. Ex, voluptates nihil eligendi aliquid quidem
      amet dolore quae at saepe cupiditate. Accusamus maiores repudiandae
      expedita incidunt tempore qui, repellat quam! Aliquam, quasi eum nihil
      minus ex quia totam hic quae expedita libero magni reprehenderit molestias
      quo sed tenetur fugiat nulla? Facere expedita distinctio repudiandae
      eligendi culpa repellendus debitis, quas quibusdam rerum facilis
      reiciendis, in, quasi eum eius perspiciatis provident velit delectus.
      Dolores, laborum culpa eum temporibus minima nihil voluptatum eius quos
      quis voluptatibus dolor placeat adipisci sint at asperiores excepturi
      error in voluptate, exercitationem veritatis facere. Fugit aspernatur
      ducimus adipisci, aut, a in rerum, sapiente eos veniam corrupti eum
      impedit? Corrupti modi, sunt eos veniam aperiam quod voluptatibus
      provident in laudantium, dolorem sit hic, a ad saepe! Cumque doloremque
      mollitia neque consectetur aspernatur sint id necessitatibus perferendis
      repellat rerum voluptatem nulla esse expedita illum enim vitae architecto
      officiis exercitationem assumenda magni fugiat quas dignissimos, nesciunt
      quae? Quas, minima quasi. Voluptate accusamus esse, explicabo sint totam
      commodi nesciunt nisi! Iusto, pariatur. Id hic voluptatem ipsam nesciunt
      placeat beatae doloremque natus ut saepe explicabo repellat assumenda
      aliquam dignissimos rerum numquam, itaque et minima soluta! Reiciendis
      expedita quos vitae, a facilis cumque obcaecati eligendi, accusamus minima
      cupiditate similique esse incidunt deleniti nobis, ea eveniet
      reprehenderit odit delectus eos veniam impedit dicta qui laboriosam! Nisi,
      consequuntur! Sint provident eaque aliquam ab praesentium fugiat. Ea quo
      ipsam, natus repellendus ratione beatae fugiat eius dolore, aut placeat
      tempore, nisi veritatis! Natus porro assumenda fuga qui minima maxime
      corrupti, odit animi, itaque dignissimos molestias facere quia voluptates
      illum deserunt sapiente. Odio commodi adipisci dolor totam deserunt
      impedit odit voluptates deleniti? Consequuntur assumenda dolores, quis
      veritatis animi non commodi! Minima dolore consequuntur repellat aut
      facilis libero iste ipsa nihil, fuga odio, tempora fugit eligendi earum
      eius odit sed accusantium! Error, inventore autem. Doloremque sapiente
      asperiores ipsum ad alias nam assumenda quibusdam possimus nihil nesciunt
      quisquam numquam vitae consectetur voluptates, provident blanditiis
      tempore, unde adipisci voluptas quaerat! Sit modi autem architecto
      incidunt, sequi consequuntur iusto voluptatibus!

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque unde
      ad maxime quas veritatis nulla. Corrupti quia culpa inventore earum amet
      tenetur ea magni quas saepe consequuntur laudantium autem molestiae
      quidem, at obcaecati, eaque ullam nesciunt, nihil incidunt aut
      perferendis! Amet impedit dolor quasi accusamus maxime vel cumque dolore
      cupiditate, adipisci ipsum, consectetur repellat distinctio provident unde
      delectus dolorem a totam voluptatum ab quod praesentium tenetur sint quam.
      Adipisci consequatur illo mollitia dolorum deserunt fuga? Esse iusto ullam
      consequatur excepturi sed doloremque est et soluta minus, optio modi.
      Quidem dolorem tenetur reprehenderit vitae obcaecati. Molestias sequi
      accusamus in laudantium asperiores possimus aut voluptate esse aperiam
      nesciunt veritatis iste quisquam, doloribus illum id molestiae atque
      labore aliquam deserunt hic nemo? Impedit magni omnis accusantium. Optio
      architecto at similique veniam. Sit, autem temporibus! Ut ad, amet totam
      praesentium ratione nisi explicabo eius molestiae neque nihil illo ipsam
      perspiciatis odit rerum officiis. Possimus deserunt quas, aut ratione
      ipsum laborum numquam unde optio. Velit vero facilis amet exercitationem
      officiis earum iste obcaecati adipisci accusamus neque, minus mollitia
      commodi repellat, quaerat minima nesciunt sunt et ea voluptas totam.
      Asperiores ratione iusto nemo nostrum quo est amet earum labore officiis
      eaque, obcaecati deleniti laboriosam, aspernatur architecto consectetur.
      Saepe dignissimos praesentium ex eum sunt id consequatur, veniam eveniet
      inventore. Harum praesentium aspernatur vero accusantium officiis quaerat
      quod at, repudiandae quo officia explicabo nobis quidem ratione modi quasi
      tempora pariatur exercitationem! Tempora, ea saepe dolorum rem maiores
      odio deleniti sapiente, enim consequatur sint explicabo vero consequuntur
      est porro perferendis laudantium quidem, doloribus fuga ipsam corporis
      repellat. Sed ex voluptate iusto placeat delectus autem dolore, a quasi
      sit, sequi sint ratione cupiditate enim perspiciatis ab beatae incidunt
      ut. Laboriosam fuga numquam officia excepturi labore animi incidunt, at
      molestias ad ipsum nisi reprehenderit saepe optio facilis repellat
      adipisci maxime aut odio dolorem voluptates. Voluptate quidem distinctio
      assumenda facere consectetur est adipisci exercitationem, quae placeat
      cupiditate dolore. Mollitia animi in iure nesciunt necessitatibus possimus
      dolore enim vero expedita aliquam? Est asperiores quia laboriosam sapiente
      doloremque possimus totam quasi voluptatum dolorem magni sint officia
      facere impedit quod, ex quaerat, ea similique maiores cupiditate labore
      veniam. Facere officia deserunt maiores, inventore iste sapiente provident
      nostrum libero labore laborum quas, incidunt et perferendis corrupti animi
      est ab ipsum? Obcaecati, possimus officiis. Reiciendis reprehenderit minus
      iste eum! Libero ratione blanditiis rerum? Facere saepe quia aliquid vel
      dicta labore nostrum possimus aliquam doloribus tempora molestiae error
      accusamus provident nam nesciunt, ipsam illo, debitis sequi recusandae
      blanditiis illum omnis quidem magni quam! Ex, sunt eligendi. Atque quam
      minima expedita doloremque veritatis officiis repellendus nulla mollitia
      sint cupiditate, sed ratione quas eius ex nobis, nam veniam ipsum repellat
      iusto vitae excepturi rerum, sequi nemo tempore! Quae consequatur nisi
      nobis dolores asperiores modi? Culpa, maxime reprehenderit provident
      dolorem fuga necessitatibus iure quisquam natus eaque delectus expedita
      excepturi incidunt sequi harum, sint amet deserunt! Vero tempore pariatur
      amet unde laudantium explicabo? Temporibus, quas cum accusantium,
      necessitatibus fugiat magni et est dolorem qui molestias, repudiandae
      doloribus voluptates culpa adipisci nemo esse voluptatibus cupiditate
      blanditiis omnis maxime! Debitis veritatis amet impedit, enim, error
      consectetur molestias a provident eum doloribus quo quidem sequi obcaecati
      velit? Ipsum accusantium nesciunt esse doloremque dolorem consequuntur
      odio, non at voluptatum voluptatem natus atque veritatis voluptas pariatur
      temporibus harum, nobis similique beatae fugit. Autem laudantium id,
      numquam vero facere omnis doloribus asperiores eius, perferendis veniam
      animi. Officiis illo, quis dolorum assumenda quas odit autem quae
      asperiores harum sequi pariatur, omnis, impedit voluptates excepturi
      officia sunt in vel error dolores. Vitae aperiam exercitationem delectus
      facere optio facilis rerum nam molestiae, perferendis nulla magni ullam
      laborum quisquam explicabo, libero repudiandae. Repellendus aut laborum
      provident dolorum! Ad eaque corporis eligendi fugit sed error, explicabo
      quis cum. Odio sequi nulla rerum sapiente reiciendis, tempore porro modi
      deleniti ut! Quam illum exercitationem, quis itaque quidem, voluptatibus
      quod consequuntur consectetur, quo aut sunt fugit accusamus quae
      dignissimos tempore? Illum sit blanditiis animi aperiam soluta enim
      doloremque quas autem recusandae repellat, similique dolore minus
      voluptate beatae cum ut atque architecto aspernatur sapiente culpa omnis
      eligendi inventore expedita. Ex, voluptates nihil eligendi aliquid quidem
      amet dolore quae at saepe cupiditate. Accusamus maiores repudiandae
      expedita incidunt tempore qui, repellat quam! Aliquam, quasi eum nihil
      minus ex quia totam hic quae expedita libero magni reprehenderit molestias
      quo sed tenetur fugiat nulla? Facere expedita distinctio repudiandae
      eligendi culpa repellendus debitis, quas quibusdam rerum facilis
      reiciendis, in, quasi eum eius perspiciatis provident velit delectus.
      Dolores, laborum culpa eum temporibus minima nihil voluptatum eius quos
      quis voluptatibus dolor placeat adipisci sint at asperiores excepturi
      error in voluptate, exercitationem veritatis facere. Fugit aspernatur
      ducimus adipisci, aut, a in rerum, sapiente eos veniam corrupti eum
      impedit? Corrupti modi, sunt eos veniam aperiam quod voluptatibus
      provident in laudantium, dolorem sit hic, a ad saepe! Cumque doloremque
      mollitia neque consectetur aspernatur sint id necessitatibus perferendis
      repellat rerum voluptatem nulla esse expedita illum enim vitae architecto
      officiis exercitationem assumenda magni fugiat quas dignissimos, nesciunt
      quae? Quas, minima quasi. Voluptate accusamus esse, explicabo sint totam
      commodi nesciunt nisi! Iusto, pariatur. Id hic voluptatem ipsam nesciunt
      placeat beatae doloremque natus ut saepe explicabo repellat assumenda
      aliquam dignissimos rerum numquam, itaque et minima soluta! Reiciendis
      expedita quos vitae, a facilis cumque obcaecati eligendi, accusamus minima
      cupiditate similique esse incidunt deleniti nobis, ea eveniet
      reprehenderit odit delectus eos veniam impedit dicta qui laboriosam! Nisi,
      consequuntur! Sint provident eaque aliquam ab praesentium fugiat. Ea quo
      ipsam, natus repellendus ratione beatae fugiat eius dolore, aut placeat
      tempore, nisi veritatis! Natus porro assumenda fuga qui minima maxime
      corrupti, odit animi, itaque dignissimos molestias facere quia voluptates
      illum deserunt sapiente. Odio commodi adipisci dolor totam deserunt
      impedit odit voluptates deleniti? Consequuntur assumenda dolores, quis
      veritatis animi non commodi! Minima dolore consequuntur repellat aut
      facilis libero iste ipsa nihil, fuga odio, tempora fugit eligendi earum
      eius odit sed accusantium! Error, inventore autem. Doloremque sapiente
      asperiores ipsum ad alias nam assumenda quibusdam possimus nihil nesciunt
      quisquam numquam vitae consectetur voluptates, provident blanditiis
      tempore, unde adipisci voluptas quaerat! Sit modi autem architecto
      incidunt, sequi consequuntur iusto voluptatibus!

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque unde
      ad maxime quas veritatis nulla. Corrupti quia culpa inventore earum amet
      tenetur ea magni quas saepe consequuntur laudantium autem molestiae
      quidem, at obcaecati, eaque ullam nesciunt, nihil incidunt aut
      perferendis! Amet impedit dolor quasi accusamus maxime vel cumque dolore
      cupiditate, adipisci ipsum, consectetur repellat distinctio provident unde
      delectus dolorem a totam voluptatum ab quod praesentium tenetur sint quam.
      Adipisci consequatur illo mollitia dolorum deserunt fuga? Esse iusto ullam
      consequatur excepturi sed doloremque est et soluta minus, optio modi.
      Quidem dolorem tenetur reprehenderit vitae obcaecati. Molestias sequi
      accusamus in laudantium asperiores possimus aut voluptate esse aperiam
      nesciunt veritatis iste quisquam, doloribus illum id molestiae atque
      labore aliquam deserunt hic nemo? Impedit magni omnis accusantium. Optio
      architecto at similique veniam. Sit, autem temporibus! Ut ad, amet totam
      praesentium ratione nisi explicabo eius molestiae neque nihil illo ipsam
      perspiciatis odit rerum officiis. Possimus deserunt quas, aut ratione
      ipsum laborum numquam unde optio. Velit vero facilis amet exercitationem
      officiis earum iste obcaecati adipisci accusamus neque, minus mollitia
      commodi repellat, quaerat minima nesciunt sunt et ea voluptas totam.
      Asperiores ratione iusto nemo nostrum quo est amet earum labore officiis
      eaque, obcaecati deleniti laboriosam, aspernatur architecto consectetur.
      Saepe dignissimos praesentium ex eum sunt id consequatur, veniam eveniet
      inventore. Harum praesentium aspernatur vero accusantium officiis quaerat
      quod at, repudiandae quo officia explicabo nobis quidem ratione modi quasi
      tempora pariatur exercitationem! Tempora, ea saepe dolorum rem maiores
      odio deleniti sapiente, enim consequatur sint explicabo vero consequuntur
      est porro perferendis laudantium quidem, doloribus fuga ipsam corporis
      repellat. Sed ex voluptate iusto placeat delectus autem dolore, a quasi
      sit, sequi sint ratione cupiditate enim perspiciatis ab beatae incidunt
      ut. Laboriosam fuga numquam officia excepturi labore animi incidunt, at
      molestias ad ipsum nisi reprehenderit saepe optio facilis repellat
      adipisci maxime aut odio dolorem voluptates. Voluptate quidem distinctio
      assumenda facere consectetur est adipisci exercitationem, quae placeat
      cupiditate dolore. Mollitia animi in iure nesciunt necessitatibus possimus
      dolore enim vero expedita aliquam? Est asperiores quia laboriosam sapiente
      doloremque possimus totam quasi voluptatum dolorem magni sint officia
      facere impedit quod, ex quaerat, ea similique maiores cupiditate labore
      veniam. Facere officia deserunt maiores, inventore iste sapiente provident
      nostrum libero labore laborum quas, incidunt et perferendis corrupti animi
      est ab ipsum? Obcaecati, possimus officiis. Reiciendis reprehenderit minus
      iste eum! Libero ratione blanditiis rerum? Facere saepe quia aliquid vel
      dicta labore nostrum possimus aliquam doloribus tempora molestiae error
      accusamus provident nam nesciunt, ipsam illo, debitis sequi recusandae
      blanditiis illum omnis quidem magni quam! Ex, sunt eligendi. Atque quam
      minima expedita doloremque veritatis officiis repellendus nulla mollitia
      sint cupiditate, sed ratione quas eius ex nobis, nam veniam ipsum repellat
      iusto vitae excepturi rerum, sequi nemo tempore! Quae consequatur nisi
      nobis dolores asperiores modi? Culpa, maxime reprehenderit provident
      dolorem fuga necessitatibus iure quisquam natus eaque delectus expedita
      excepturi incidunt sequi harum, sint amet deserunt! Vero tempore pariatur
      amet unde laudantium explicabo? Temporibus, quas cum accusantium,
      necessitatibus fugiat magni et est dolorem qui molestias, repudiandae
      doloribus voluptates culpa adipisci nemo esse voluptatibus cupiditate
      blanditiis omnis maxime! Debitis veritatis amet impedit, enim, error
      consectetur molestias a provident eum doloribus quo quidem sequi obcaecati
      velit? Ipsum accusantium nesciunt esse doloremque dolorem consequuntur
      odio, non at voluptatum voluptatem natus atque veritatis voluptas pariatur
      temporibus harum, nobis similique beatae fugit. Autem laudantium id,
      numquam vero facere omnis doloribus asperiores eius, perferendis veniam
      animi. Officiis illo, quis dolorum assumenda quas odit autem quae
      asperiores harum sequi pariatur, omnis, impedit voluptates excepturi
      officia sunt in vel error dolores. Vitae aperiam exercitationem delectus
      facere optio facilis rerum nam molestiae, perferendis nulla magni ullam
      laborum quisquam explicabo, libero repudiandae. Repellendus aut laborum
      provident dolorum! Ad eaque corporis eligendi fugit sed error, explicabo
      quis cum. Odio sequi nulla rerum sapiente reiciendis, tempore porro modi
      deleniti ut! Quam illum exercitationem, quis itaque quidem, voluptatibus
      quod consequuntur consectetur, quo aut sunt fugit accusamus quae
      dignissimos tempore? Illum sit blanditiis animi aperiam soluta enim
      doloremque quas autem recusandae repellat, similique dolore minus
      voluptate beatae cum ut atque architecto aspernatur sapiente culpa omnis
      eligendi inventore expedita. Ex, voluptates nihil eligendi aliquid quidem
      amet dolore quae at saepe cupiditate. Accusamus maiores repudiandae
      expedita incidunt tempore qui, repellat quam! Aliquam, quasi eum nihil
      minus ex quia totam hic quae expedita libero magni reprehenderit molestias
      quo sed tenetur fugiat nulla? Facere expedita distinctio repudiandae
      eligendi culpa repellendus debitis, quas quibusdam rerum facilis
      reiciendis, in, quasi eum eius perspiciatis provident velit delectus.
      Dolores, laborum culpa eum temporibus minima nihil voluptatum eius quos
      quis voluptatibus dolor placeat adipisci sint at asperiores excepturi
      error in voluptate, exercitationem veritatis facere. Fugit aspernatur
      ducimus adipisci, aut, a in rerum, sapiente eos veniam corrupti eum
      impedit? Corrupti modi, sunt eos veniam aperiam quod voluptatibus
      provident in laudantium, dolorem sit hic, a ad saepe! Cumque doloremque
      mollitia neque consectetur aspernatur sint id necessitatibus perferendis
      repellat rerum voluptatem nulla esse expedita illum enim vitae architecto
      officiis exercitationem assumenda magni fugiat quas dignissimos, nesciunt
      quae? Quas, minima quasi. Voluptate accusamus esse, explicabo sint totam
      commodi nesciunt nisi! Iusto, pariatur. Id hic voluptatem ipsam nesciunt
      placeat beatae doloremque natus ut saepe explicabo repellat assumenda
      aliquam dignissimos rerum numquam, itaque et minima soluta! Reiciendis
      expedita quos vitae, a facilis cumque obcaecati eligendi, accusamus minima
      cupiditate similique esse incidunt deleniti nobis, ea eveniet
      reprehenderit odit delectus eos veniam impedit dicta qui laboriosam! Nisi,
      consequuntur! Sint provident eaque aliquam ab praesentium fugiat. Ea quo
      ipsam, natus repellendus ratione beatae fugiat eius dolore, aut placeat
      tempore, nisi veritatis! Natus porro assumenda fuga qui minima maxime
      corrupti, odit animi, itaque dignissimos molestias facere quia voluptates
      illum deserunt sapiente. Odio commodi adipisci dolor totam deserunt
      impedit odit voluptates deleniti? Consequuntur assumenda dolores, quis
      veritatis animi non commodi! Minima dolore consequuntur repellat aut
      facilis libero iste ipsa nihil, fuga odio, tempora fugit eligendi earum
      eius odit sed accusantium! Error, inventore autem. Doloremque sapiente
      asperiores ipsum ad alias nam assumenda quibusdam possimus nihil nesciunt
      quisquam numquam vitae consectetur voluptates, provident blanditiis
      tempore, unde adipisci voluptas quaerat! Sit modi autem architecto
      incidunt, sequi consequuntur iusto voluptatibus!

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque unde
      ad maxime quas veritatis nulla. Corrupti quia culpa inventore earum amet
      tenetur ea magni quas saepe consequuntur laudantium autem molestiae
      quidem, at obcaecati, eaque ullam nesciunt, nihil incidunt aut
      perferendis! Amet impedit dolor quasi accusamus maxime vel cumque dolore
      cupiditate, adipisci ipsum, consectetur repellat distinctio provident unde
      delectus dolorem a totam voluptatum ab quod praesentium tenetur sint quam.
      Adipisci consequatur illo mollitia dolorum deserunt fuga? Esse iusto ullam
      consequatur excepturi sed doloremque est et soluta minus, optio modi.
      Quidem dolorem tenetur reprehenderit vitae obcaecati. Molestias sequi
      accusamus in laudantium asperiores possimus aut voluptate esse aperiam
      nesciunt veritatis iste quisquam, doloribus illum id molestiae atque
      labore aliquam deserunt hic nemo? Impedit magni omnis accusantium. Optio
      architecto at similique veniam. Sit, autem temporibus! Ut ad, amet totam
      praesentium ratione nisi explicabo eius molestiae neque nihil illo ipsam
      perspiciatis odit rerum officiis. Possimus deserunt quas, aut ratione
      ipsum laborum numquam unde optio. Velit vero facilis amet exercitationem
      officiis earum iste obcaecati adipisci accusamus neque, minus mollitia
      commodi repellat, quaerat minima nesciunt sunt et ea voluptas totam.
      Asperiores ratione iusto nemo nostrum quo est amet earum labore officiis
      eaque, obcaecati deleniti laboriosam, aspernatur architecto consectetur.
      Saepe dignissimos praesentium ex eum sunt id consequatur, veniam eveniet
      inventore. Harum praesentium aspernatur vero accusantium officiis quaerat
      quod at, repudiandae quo officia explicabo nobis quidem ratione modi quasi
      tempora pariatur exercitationem! Tempora, ea saepe dolorum rem maiores
      odio deleniti sapiente, enim consequatur sint explicabo vero consequuntur
      est porro perferendis laudantium quidem, doloribus fuga ipsam corporis
      repellat. Sed ex voluptate iusto placeat delectus autem dolore, a quasi
      sit, sequi sint ratione cupiditate enim perspiciatis ab beatae incidunt
      ut. Laboriosam fuga numquam officia excepturi labore animi incidunt, at
      molestias ad ipsum nisi reprehenderit saepe optio facilis repellat
      adipisci maxime aut odio dolorem voluptates. Voluptate quidem distinctio
      assumenda facere consectetur est adipisci exercitationem, quae placeat
      cupiditate dolore. Mollitia animi in iure nesciunt necessitatibus possimus
      dolore enim vero expedita aliquam? Est asperiores quia laboriosam sapiente
      doloremque possimus totam quasi voluptatum dolorem magni sint officia
      facere impedit quod, ex quaerat, ea similique maiores cupiditate labore
      veniam. Facere officia deserunt maiores, inventore iste sapiente provident
      nostrum libero labore laborum quas, incidunt et perferendis corrupti animi
      est ab ipsum? Obcaecati, possimus officiis. Reiciendis reprehenderit minus
      iste eum! Libero ratione blanditiis rerum? Facere saepe quia aliquid vel
      dicta labore nostrum possimus aliquam doloribus tempora molestiae error
      accusamus provident nam nesciunt, ipsam illo, debitis sequi recusandae
      blanditiis illum omnis quidem magni quam! Ex, sunt eligendi. Atque quam
      minima expedita doloremque veritatis officiis repellendus nulla mollitia
      sint cupiditate, sed ratione quas eius ex nobis, nam veniam ipsum repellat
      iusto vitae excepturi rerum, sequi nemo tempore! Quae consequatur nisi
      nobis dolores asperiores modi? Culpa, maxime reprehenderit provident
      dolorem fuga necessitatibus iure quisquam natus eaque delectus expedita
      excepturi incidunt sequi harum, sint amet deserunt! Vero tempore pariatur
      amet unde laudantium explicabo? Temporibus, quas cum accusantium,
      necessitatibus fugiat magni et est dolorem qui molestias, repudiandae
      doloribus voluptates culpa adipisci nemo esse voluptatibus cupiditate
      blanditiis omnis maxime! Debitis veritatis amet impedit, enim, error
      consectetur molestias a provident eum doloribus quo quidem sequi obcaecati
      velit? Ipsum accusantium nesciunt esse doloremque dolorem consequuntur
      odio, non at voluptatum voluptatem natus atque veritatis voluptas pariatur
      temporibus harum, nobis similique beatae fugit. Autem laudantium id,
      numquam vero facere omnis doloribus asperiores eius, perferendis veniam
      animi. Officiis illo, quis dolorum assumenda quas odit autem quae
      asperiores harum sequi pariatur, omnis, impedit voluptates excepturi
      officia sunt in vel error dolores. Vitae aperiam exercitationem delectus
      facere optio facilis rerum nam molestiae, perferendis nulla magni ullam
      laborum quisquam explicabo, libero repudiandae. Repellendus aut laborum
      provident dolorum! Ad eaque corporis eligendi fugit sed error, explicabo
      quis cum. Odio sequi nulla rerum sapiente reiciendis, tempore porro modi
      deleniti ut! Quam illum exercitationem, quis itaque quidem, voluptatibus
      quod consequuntur consectetur, quo aut sunt fugit accusamus quae
      dignissimos tempore? Illum sit blanditiis animi aperiam soluta enim
      doloremque quas autem recusandae repellat, similique dolore minus
      voluptate beatae cum ut atque architecto aspernatur sapiente culpa omnis
      eligendi inventore expedita. Ex, voluptates nihil eligendi aliquid quidem
      amet dolore quae at saepe cupiditate. Accusamus maiores repudiandae
      expedita incidunt tempore qui, repellat quam! Aliquam, quasi eum nihil
      minus ex quia totam hic quae expedita libero magni reprehenderit molestias
      quo sed tenetur fugiat nulla? Facere expedita distinctio repudiandae
      eligendi culpa repellendus debitis, quas quibusdam rerum facilis
      reiciendis, in, quasi eum eius perspiciatis provident velit delectus.
      Dolores, laborum culpa eum temporibus minima nihil voluptatum eius quos
      quis voluptatibus dolor placeat adipisci sint at asperiores excepturi
      error in voluptate, exercitationem veritatis facere. Fugit aspernatur
      ducimus adipisci, aut, a in rerum, sapiente eos veniam corrupti eum
      impedit? Corrupti modi, sunt eos veniam aperiam quod voluptatibus
      provident in laudantium, dolorem sit hic, a ad saepe! Cumque doloremque
      mollitia neque consectetur aspernatur sint id necessitatibus perferendis
      repellat rerum voluptatem nulla esse expedita illum enim vitae architecto
      officiis exercitationem assumenda magni fugiat quas dignissimos, nesciunt
      quae? Quas, minima quasi. Voluptate accusamus esse, explicabo sint totam
      commodi nesciunt nisi! Iusto, pariatur. Id hic voluptatem ipsam nesciunt
      placeat beatae doloremque natus ut saepe explicabo repellat assumenda
      aliquam dignissimos rerum numquam, itaque et minima soluta! Reiciendis
      expedita quos vitae, a facilis cumque obcaecati eligendi, accusamus minima
      cupiditate similique esse incidunt deleniti nobis, ea eveniet
      reprehenderit odit delectus eos veniam impedit dicta qui laboriosam! Nisi,
      consequuntur! Sint provident eaque aliquam ab praesentium fugiat. Ea quo
      ipsam, natus repellendus ratione beatae fugiat eius dolore, aut placeat
      tempore, nisi veritatis! Natus porro assumenda fuga qui minima maxime
      corrupti, odit animi, itaque dignissimos molestias facere quia voluptates
      illum deserunt sapiente. Odio commodi adipisci dolor totam deserunt
      impedit odit voluptates deleniti? Consequuntur assumenda dolores, quis
      veritatis animi non commodi! Minima dolore consequuntur repellat aut
      facilis libero iste ipsa nihil, fuga odio, tempora fugit eligendi earum
      eius odit sed accusantium! Error, inventore autem. Doloremque sapiente
      asperiores ipsum ad alias nam assumenda quibusdam possimus nihil nesciunt
      quisquam numquam vitae consectetur voluptates, provident blanditiis
      tempore, unde adipisci voluptas quaerat! Sit modi autem architecto
      incidunt, sequi consequuntur iusto voluptatibus!
    </section>
  </main>
</Layout>

<style>
  body {
    background-color: #fffaeb;
  }
  main {
    margin: auto;
    /*     padding: 1rem; */
    /* width: 800px; */
    max-width: calc(100% - 5rem);
    color: white;
    /*     font-size: 20px; */
    line-height: 1.6;
  }

  @media screen and (max-width: 768px) {
    main {
      max-width: calc(100% - 1.15rem);
    }
  }

  .hero_section {
    height: 100svh;
    width: 100%;
  }
  /* 	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	} */
</style>
