---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { MobileHeader } from "../components/ui/Navigation/MobileHeader.tsx";
import HeroSectionBanner from "../components/ui/Banners/HeroSectionBanner.astro";
import DesktopHeader from "../components/ui/Navigation/DesktopHeader.astro";
---

<Layout title="Početna">
  <main>
    <!-- Hero Section -->
    <section class="hero_section">
      <HeroSectionBanner />
      <div
        class="relative bg_image h-full w-full bg-[url('/hero_section_image.png')] bg-cover bg-center bg-no-repeat rounded-psc"
      >
        <div class="h-2"></div>
        <MobileHeader client:load />
        <DesktopHeader />
        <h1 class="text-[28px] md:text-[64px] text-center font-bold mt-32">
          Studio stvoren za sve
        </h1>
        <!-- Play button -->
        <div class="flex flex-col justify-center items-center mt-24">
          <button class="flex flex-col justify-center items-center gap-1">
            <svg
              class="w-[40px] h-[40px] md:w-[80px] md:h-[80px]"
              viewBox="0 0 80 80"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_b_563_251)">
                <path
                  d="M20.7813 68.75C19.822 68.7482 18.8796 68.4968 18.047 68.0203C16.172 66.9578 15.0063 64.8953 15.0063 62.6563V17.3438C15.0063 15.0985 16.172 13.0422 18.047 11.9797C18.8995 11.4898 19.8679 11.2378 20.8511 11.2502C21.8343 11.2626 22.7961 11.5388 23.636 12.05L62.3626 35.2313C63.1697 35.7374 63.835 36.4401 64.2962 37.2737C64.7574 38.1072 64.9994 39.0443 64.9994 39.9969C64.9994 40.9495 64.7574 41.8866 64.2962 42.7201C63.835 43.5537 63.1697 44.2564 62.3626 44.7625L23.6298 67.95C22.7702 68.4697 21.7857 68.7462 20.7813 68.75Z"
                  fill="white"
                  fill-opacity="0.6"></path>
                <path
                  d="M20.7838 71.25L20.7909 71.25C22.2459 71.2444 23.672 70.8445 24.9176 70.0928C24.9195 70.0917 24.9213 70.0906 24.9232 70.0894L63.6467 46.9075L63.6688 46.8943L63.6907 46.8806C64.8565 46.1496 65.8176 45.1345 66.4837 43.9304C67.1499 42.7264 67.4994 41.3729 67.4994 39.9969C67.4994 38.6209 67.1499 37.2674 66.4837 36.0634C65.8176 34.8593 64.8565 33.8442 63.6907 33.1132L63.6688 33.0995L63.6466 33.0862L24.9273 9.90928C23.7069 9.16855 22.3102 8.76835 20.8826 8.75039C19.4541 8.73242 18.047 9.0978 16.8079 9.8084C14.1139 11.3382 12.5063 14.2471 12.5063 17.3438V62.6563C12.5063 65.7459 14.1134 68.6624 16.8096 70.1927C18.018 70.883 19.385 71.2474 20.7767 71.25L20.7838 71.25Z"
                  stroke="#758E8A"
                  stroke-opacity="0.6"
                  stroke-width="5"></path>
              </g>
              <defs>
                <filter
                  id="filter0_b_563_251"
                  x="-24"
                  y="-24"
                  width="128"
                  height="128"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix"
                  ></feFlood>
                  <feGaussianBlur in="BackgroundImageFix" stdDeviation="12"
                  ></feGaussianBlur>
                  <feComposite
                    in2="SourceAlpha"
                    operator="in"
                    result="effect1_backgroundBlur_563_251"></feComposite>
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_backgroundBlur_563_251"
                    result="shape"></feBlend>
                </filter>
              </defs>
            </svg>
            <p class="text-[13px] md:text-[16px] text-white/75">Press play</p>
          </button>
        </div>
        <!-- Hero Section Footer -->
        <div
          class="hidden flex-col md:flex-row gap-2 z-1 justify-around"
        >
          <div>
            <p
              class="text-[12px] md:text-[16px] font-medium px-4 py-3 md:px-6 md:py-4 rounded-[20px] bg-[#29231C]/60 backdrop-blur-lg"
            >
              više od 15 godina iskustva
            </p>
          </div>
          <div>
            <p
              class="text-[12px] md:text-[16px] font-medium px-4 py-3 md:px-6 md:py-4 rounded-[20px] bg-[#78543E]/60 backdrop-blur-lg"
            >
              više od 15 godina iskustva
            </p>
          </div>
          <div>
            <p
              class="text-[12px] md:text-[16px] font-medium px-4 py-3 md:px-6 md:py-4 rounded-[20px] bg-[#655A4F]/60 backdrop-blur-lg"
            >
              više od 15 godina iskustva
            </p>
          </div>
        </div>
        <!-- Overlay -->
        <!-- 	  <div class="absolute z-1 inset-0 bg-black bg-opacity-50 rounded-psc"></div> -->
      </div>
      <p
        class="flex md:hidden text-black gap-2 text-[12px] md:text-[14px] font-medium justify-center p-2"
      >
        Ova web stranica koristi kolačiće.
        <span class="text-black">Odbij</span>
        <span class="text-black underline underline-offset-2">Prihvati</span>
      </p>
    </section>

    <!-- Brands we worked with section -->
    <section class="brand_we_worked_with p-4"></section>
  </main>
</Layout>

<style>
  body {
    background-color: #fffaeb;
  }
  main {
    margin: auto;
    /*     padding: 1rem; */
    /* width: 800px; */
    max-width: calc(100% - 5rem);
    color: white;
    /*     font-size: 20px; */
    line-height: 1.6;
  }

  @media screen and (max-width: 768px) {
    main {
      max-width: calc(100% - 1.15rem);
    }
  }

  .hero_section {
    height: 100svh;
    width: 100%;
  }
  /* 	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	} */
</style>
